<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DB'S BLOG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>

    <link href="./images/blog.ico" rel="icon" type="image/x-icon"/>
    <link href="./css/style.css" rel="stylesheet"/>
    <link href="./css/mystyle.css" rel="stylesheet"/>
    <link href="./css/animate.min.css" rel="stylesheet"/>
    <link href="./css/bootstrap.css" rel="stylesheet"/>
    <link href="./css/dropdown.css" rel="stylesheet"/>
    <link href="./css/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
    <link href="./css/jquery.emoji.css" rel="stylesheet"/>
    <link href="./css/commentStyle.css" rel="stylesheet"/>
    <link href="./css/upprise.css" rel="stylesheet"/>
    <!-- common imports -->
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./js/jquery.svg3dtagcloud.min.js"></script>
    <script type="text/javascript" src="./js/jquery.emoji.js"></script>
    <script type="text/javascript" src="./js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="./js/jquery.mousewheel-3.0.6.min.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="./myJs/commonImport.js"></script>
    <script type="text/javascript" src="./myJs/headerFooter.js"></script>
    <script type="text/javascript" src="./myJs/advices.js"></script>
    <script type="text/javascript" src="../myJs/utils.js"></script>
    <!--代码高亮-->
    <link href="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/styles/shCore.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/styles/shThemeEclipse.min.css" rel="stylesheet">
    <!--代码高亮-->
    <script src="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
    <script src="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shBrushJava.min.js"></script>
    <script src="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shBrushXml.min.js"></script>
    <script src="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shBrushSql.min.js"></script>
    <script src="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shBrushPython.min.js"></script>
    <script src="http://cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.min.js"></script>
    <script type="text/javascript">
        importCss()
        $(document).ready(function () {
            importHeaderFooter()
            importJs()
            headerFooterInit()
            contentInit()
        })
    </script>

</head>
<body>
<div class="header" id="headerNav"></div><!--头部导航结束-->

<div class="header-bottom" id="bannerNav"></div><!--博客标题结束-->

<!-- technology-left -->
<div class="technology" id="bodyContent" >
<div class="container">
    <div class="col-md-12 technology-left" style="width: 100%">
        <div class="blog">
            <div class="row">
                <div class="col-md-12">
                    <div class="services w3l " >
                        <fieldset>
                            <legend style="text-align: center">本页面可留言、吐槽、提问。欢迎灌水，杜绝广告！</legend>
                        </fieldset>

                        <div class="response">
                            <h4>
                            评论
                            <span class="feed" id="feed2" style="float:right">
                                <span class="heart" id="blogHeart" liked="unlike"></span>
                                <span class="likeCount" id="blogLikeCount">0</span>
                            </span>
                            </h4>
                            <form id="replyForm">
                                <a id="inputComment" name="inputComment" href="javascript:void(0)"></a>
                                <div class="input-group">
                                    <div class="input-group-addon">用户名 <span style="color:red">*</span></div>
                                    <input id="resourceName" name="resourceName" type="text" class="form-control"
                                           placeholder="resourceName"/>

                                    <div class="input-group-addon">邮箱</div>
                                    <input id="email" name="email" type="text" class="form-control" placeholder="email"/>
                                </div>
                                <br/>
                                头像选择 :
                                <select class="form-control" id="imageIdx">
                                    <option id="0" selected="selected">撸多了</option>
                                    <option id="1">帅哥</option>
                                    <option id="2">美女</option>
                                    <option id="3">草稚京</option>
                                    <option id="4">雅典娜</option>
                                    <option id="5">女王</option>
                                    <option id="6">孙悟空</option>
                                    <option id="7">尼娜</option>
                                    <option id="8">赛亚人</option>
                                    <option id="9">小魔女</option>
                                </select>
                                <br/>
                                <div title="reply" id="comment" class="editor form-control" contenteditable="true"></div>

                                <br/>
                                <span style="float:left">
                                    <button id="looks" type="button" class="btn btn-default">放图吧</button>
                                </span>
                                <span style="float:right">
                                    <button id="submitBtn" class="btn btn-default">提交评论</button>
                                </span>
                            </form>
                        </div><!--回复框结束-->

                        <hr id="responseHr">
                        <!-- 回复列表 -->
                        <div class="response">
                            <span id="submitNotice" style="padding : 10px 10px 30px 20px; color : red"
                                  v-for="floor in comments">
                                <div class="floor">
                                    <hr/>
                                    <dl class='comment_item comment_topic'>
                                    <div class="replyDiv">
                                        <dt class='comment_head'>
                                        <span> {{floor.floorComment.floorId}} 楼</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class='floorInfo'
                                              :floorId='floor.floorComment.floorId'
                                              :commentId='floor.floorComment.commentId'
                                              :name='floor.floorComment.name'
                                              :role="floor.floorComment.role"
                                        >
                                        <span name='commenter' class='text-warning'> {{floor.floorComment.name}} </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span name='role' class='text-error'>[{{floor.floorComment.role}}]</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span name='date' class='text-success'>发表于 {{floor.floorComment.createdAt}} </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class='comment_manage'>
                                        <span class='commentReply'>
                                            <a href='javascript:void(0)' class='cmt_btn reply' title='回复' @click="replyFunc($event)">[回复]</a>
                                        </span>&nbsp;&nbsp;
                                        <a href='javascript:void(0)' class='cmt_btn quote' title='引用'>[引用]</a>&nbsp;&nbsp;
                                        <a href='javascript:void(0)' class='cmt_btn report' title='举报'>[举报]</a>&nbsp;&nbsp;
                                        </span>
                                        </span>
                                        </dt>
                                        <dd class='comment_userface'>
                                        <a href='javascript:void(0)'>
                                            <img :src='floor.floorComment.headImgUrl' width='40' height='40'
                                                 :title='floor.floorComment.email'/>
                                        </a>
                                        </dd>
                                        <dd class='comment_body'> : {{floor.floorComment.content}} </dd>
                                    </div>

                                    <div class='replyDiv comment_reply' v-for="reply in floor.replies">
                                        <dl class='comment_item'>
                                        <dt class='comment_head'>
                                        Re:
                                        <span class='floorInfo'
                                              :floorId='floor.floorComment.floorId'
                                              :commentId='floor.floorComment.commentId'
                                              :name='floor.floorComment.name'
                                              :role="floor.floorComment.role"
                                        >
                                        <span name='commenter' class='text-warning'> {{reply.name}} </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span name='role' class='text-error'>[{{reply.role}}]</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span name='date' class='text-success'>发表于  {{reply.date}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class='comment_manage'>
                                        <span class='commentReply'>
                                            <a href='javascript:void(0)' class='cmt_btn reply' title='回复' @click="replyFunc($event)">[回复]</a>
                                        </span>&nbsp;&nbsp;
                                        <a href='javascript:void(0)' class='cmt_btn quote' title='引用'>[引用]</a>&nbsp;&nbsp;
                                        <a href='javascript:void(0)' class='cmt_btn report' title='举报'>[举报]</a>&nbsp;&nbsp;
                                        </span>
                                        </span>
                                        </dt>

                                        <dd class='comment_userface'>
                                        <a href='javascript:void(0)'>
                                            <img :src='reply.headImgUrl' width='40' height='40' title='reply.email'></a>
                                        </dd>
                                        <dd class='comment_body'>回复 {{reply.toUser}} : {{reply.content}} </dd>
                                        </dl>
                                    </div>
                                    </dl>
                                </div>
                            </span>
                        </div>
                        <hr>
                    </div>
                    <nav class="paging wow fadeInDown" data-wow-duration=".5s" data-wow-delay=".2s" style="text-align: center">
                        <ul class="pagination pagination-mg" th:utext="${pageNation}" >
                        </ul>
                    </nav> <!--分页结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<!-- technology-right -->
</div>

<div class="footer" id="footerNav"></div><!--尾部结束-->
<div class="copyright wow fadeInDown" id="copyrightNav" data-wow-duration=".8s" data-wow-delay=".2s"></div><!--版权区结束-->

</body>
</html>




