<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="false">

    <description>核心配置</description>

    <!-- spring启动时扫描项目路径下的properties文件,后续用${key}方式取出对应值,这样可以代码解耦和，后续只需修改properties文件即可 -->
    <context:property-placeholder location="classpath:props/*.properties" ignore-unresolvable="true"/>

    <!-- imports -->
    <import resource="spring-biz-handle.xml"/>
    <import resource="spring-db.xml"/>
    <import resource="spring-redis.xml"/>

</beans>